body {
    background: lightgray;
    margin: 0;
}
#header {
    background: white;
    height: 80px;
    display: flex;
}
h1 {
    width: 600px;
    margin: auto;
}
#content {
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}
#content-head {
    font-size: 10px;
    display: flex;
}
#icon-head {
    font-size: 25px;
    margin: 14px;
    margin-right: 0;
    
}    
#content-head-title {
    padding-top: 10px;
}

#ellipsis {
    margin: auto;
    font-size: 24px;
    margin-left: 470px;
    
    
}
#content-head h2 {
    margin: auto;
    width: 100%;
    padding-left: 10px;
}
#content-head p {
    color: lightgray;
    font-weight: bold;
    padding: 15px;
    margin: auto;
}
img {
    width: 600px;
}
#content-text p {
    margin: 0;
    padding: 15px;
}